<!doctype html>
<html style="min-height:auto" >
    <head>
        <link rel="stylesheet" type="text/css" href="../css/style.css">
        <title>chrome-extension-template</title>
        <script src="../js/popup.js"></script>
    </head>
    <body>
    </body>
    <body>
        <div class="content-area">
            <div class="text-center">
                <h1>Password Generator</h1>
            </div>
            
            <label for="password_length">Password Length</label>
            <input type="number" id="password_length" name="password_length">

            <input type="checkbox" id="include_symbols" name="include_symbols">
            <label for="include_symbols">Include Symbols (eg. % & $ !)</label>

            <input type="checkbox" id="include_numbers" name="include_numbers">
            <label for="include_numbers">Include Numbers (eg. 1 2 3 4 5 6)</label>
        </div>
    </body>
</html>
